#hideFile {
    cursor: pointer;
    display: block;
    opacity: 0;
    position: absolute;
    margin-top: 24px;
    height: 90px;
    width: 80px;
    border-radius: 80px;
    margin-left: 135px;

}

#previewImg {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    background-color: black;
}

